body {
  display: flex;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #c7c7c7;
  margin: 0 auto;
  text-align: center;
}

h1 {
  text-align: center;
  color: #000000;
  font-size: 48px;
  margin: 40px 0;
}