.contactList {
    margin-bottom: 60px;
}

.contactItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    width: 300px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #5f5f5f;
    background-color: #fff;
    margin-bottom: 10px;
}

.btnDelete {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #5f5f5f;
    background-color: #49097e;
    color: #fff;
}